:root{
    --bg: #ffffff;
    --texto: #000000;
    --roxo-escuro: #3a0066;
    --roxo-claro: #cba4ff;
}
body.dark{
    --bg: #000000;
    --texto: #cba4ff;
}
body{
    background: var(--bg);
    color: var(--texto);
    margin: 0;
    font-family: Arial, Arial, Helvetica, sans-serif;
}
.header{
    display: flex;
    justify-content: flex-end;
    padding: 15px;
}
#themeToggle{
    padding: 10px 15px;
    border: none;
    background: var(--roxo-escuro);
    color: white;
    cursor: pointer;
    border-radius: 6px;
}
.container{
    text-align: center;
    margin-top: 50px;
}
.titulo-box{
    background: var(--roxo-escuro);
    padding: 30px;
    width: 60%;
    margin: auto;
    border-radius: 10px;
    color: white;
}
.autor{
    margin: 30px auto;
    width: 70%;
    font-size: 18px;
}
.underline{
    text-decoration: underline;
}
.btn{
    margin-top: 30px;
    padding: 15px 25px;
    background: var(--roxo-escuro);
    color: black;
    border: none;
    cursor: pointer;
    border-radius: 8px;
    font-size: 18px;
}
.navbar{
    display: flex;
    overflow-x: auto;
    gap: 5px;
    background: var(--roxo-escuro);
    padding: 10px;
}
.navbar button{
    background: black;
    color: white;
    border: none;
    padding: 10px 15px;
    cursor: pointer;
    white-space: nowrap;
}
.secao{
    padding: 40px 20px;
}
.titulo{
    font-size: 32px;
    font-weight: bold;
}
.texto{
    font-size: 20px;
    width: 80%;
    margin: auto;
    text-align: justify;
}
.subtitulo{
    width: 80%;
    margin: auto;
    font-size: 22px;
    font-weight: bold;
}
.linha{
    height: 80%;
    background: var(--roxo-escuro);
    margin: 30px 0;
}